## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

In [110]:
# Imports
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import requests
import unicodedata
import re
from bs4 import BeautifulSoup

# www.topuniversities.com

## Methodology

After examing the webpage, we identify the URL of a JSON file that contains the ranking. Working with JSON is much simpler than working with HTML, so we perform an HTTP GET on that URL, providing a suitable timestamp value (`?_=...`). We then parse the JSON and extract the information we are interested in.

As indicated in the problem statement, some stats are not available in the main list. We visit each university URL to extract the missing stats and scrap the HTML using BeautifulSoup.

Finally, we put all this data in a dataframe.

In [111]:
BASE_URL_TOP = 'https://www.topuniversities.com'
RANKING_URL_TOP = '/sites/default/files/qs-rankings-data/357051.txt?_=%d'

In [112]:
# Helper function to extract a metric using a CSS selector
def extract_metric(soup, selector):
    try:
        return int(soup.select(selector)[0].get_text().replace(',', ''))
    except:
        return None

# Function to obtain and format the top n universities in the ranking
def get_list_top(n=200):
    # Request the JSON data
    timestamp = int(time.time() * 1000)
    r = requests.get((BASE_URL_TOP + RANKING_URL_TOP) % timestamp)
    raw_ranking = r.json()['data'][0:n]
    
    # Process and clean each entry in the ranking, fetching the detailed page and extracting the necessary information
    ranking = []
    for entry in raw_ranking:
        rank = int(entry['rank_display'].replace('=', '')) # drop the = for tied ranks
        name = entry['title']
        country = entry['country']
        region = entry['region']
        r = requests.get(BASE_URL_TOP + entry['url'])
        soup = BeautifulSoup(r.text, 'lxml')
        total_students = extract_metric(soup, 'div.total.student .number')
        total_int_students = extract_metric(soup, 'div.total.inter .number')
        total_faculty = extract_metric(soup, 'div.total.faculty .number')
        total_int_faculty = extract_metric(soup, 'div.inter.faculty .number')
        ranking.append({'rank': rank, 'name': name, 'country': country, 'region': region, 'total_students': total_students, 'total_int_students': total_int_students, 'total_faculty': total_faculty, 'total_int_faculty': total_int_faculty})        
    
    # Create the dataframe and index it
    df = pd.DataFrame(ranking)
    df = df.set_index('rank')
    df = df.reindex_axis(['name', 'country', 'region', 'total_students', 'total_int_students', 'total_faculty', 'total_int_faculty'], axis=1)
    return df
    
# Let's see what it looks like...
top_df = get_list_top()
top_df

,name,country,region,total_students,total_int_students,total_faculty,total_int_faculty
rank,,,,,,,
1,Massachusetts Institute of Technology (MIT),United States,North America,11067.0,3717.0,2982.0,1679.0
2,Stanford University,United States,North America,15878.0,3611.0,4285.0,2042.0
3,Harvard University,United States,North America,22429.0,5266.0,4350.0,1311.0
4,California Institute of Technology (Caltech),United States,North America,2255.0,647.0,953.0,350.0
5,University of Cambridge,United Kingdom,Europe,18770.0,6699.0,5490.0,2278.0
6,University of Oxford,United Kingdom,Europe,19720.0,7353.0,6750.0,2964.0
7,UCL (University College London),United Kingdom,Europe,31080.0,14854.0,6345.0,2554.0
8,Imperial College London,United Kingdom,Europe,16090.0,8746.0,3930.0,2071.0
9,University of Chicago,United States,North America,13557.0,3379.0,2449.0,635.0
10,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,Europe,19815.0,7563.0,2477.0,1886.0
11,"Nanyang Technological University, Singapore (NTU)",Singapore,Asia,25738.0,7251.0,4338.0,2993.0
12,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,Europe,10343.0,5896.0,1695.0,1300.0
13,Princeton University,United States,North America,8069.0,1793.0,1007.0,246.0
14,Cornell University,United States,North America,21904.0,5411.0,2718.0,970.0
15,National University of Singapore (NUS),Singapore,Asia,32728.0,8917.0,5106.0,3086.0
16,Yale University,United States,North America,12402.0,2469.0,4940.0,1708.0
17,Johns Hopkins University,United States,North America,16146.0,4105.0,4462.0,1061.0
18,Columbia University,United States,North America,25045.0,8105.0,6189.0,913.0
19,University of Pennsylvania,United States,North America,20639.0,4250.0,5499.0,1383.0
20,The Australian National University,Australia,Oceania,14442.0,5551.0,1600.0,927.0
21,University of Michigan,United States,North America,43147.0,7527.0,6809.0,1920.0
21,Duke University,United States,North America,15320.0,2864.0,2938.0,226.0
23,The University of Edinburgh,United Kingdom,Europe,28040.0,10551.0,4075.0,1553.0
23,King's College London,United Kingdom,Europe,23780.0,9451.0,3650.0,1513.0
25,Tsinghua University,China,Asia,36300.0,4072.0,5506.0,932.0
26,The University of Hong Kong,Hong Kong,Asia,20214.0,8230.0,3012.0,2085.0
27,"University of California, Berkeley (UCB)",United States,North America,36703.0,6086.0,3321.0,1395.0
28,The University of Tokyo,Japan,Asia,27279.0,2639.0,4514.0,254.0
28,Northwestern University,United States,North America,18675.0,3422.0,4231.0,1141.0
30,The Hong Kong University of Science and Techno...,Hong Kong,Asia,10375.0,2921.0,1150.0,835.0
...,...,...,...,...,...,...,...
171,Albert-Ludwigs-Universitaet Freiburg,Germany,Europe,23214.0,3897.0,1966.0,413.0
172,Indian Institute of Technology Delhi (IITD),India,Asia,7477.0,80.0,466.0,4.0
173,King Fahd University of Petroleum & Minerals,Saudi Arabia,Asia,6040.0,989.0,1062.0,665.0
173,University of Liverpool,United Kingdom,Europe,22065.0,7502.0,2390.0,717.0
173,University of Virginia,United States,North America,21560.0,1899.0,2509.0,487.0
176,University of Technology Sydney,Australia,Oceania,24207.0,7769.0,1328.0,546.0
177,CentraleSupélec,France,Europe,3877.0,1132.0,529.0,137.0
178,University of Florida,United States,North America,45485.0,4597.0,5419.0,504.0
179,Indian Institute of Technology Bombay (IITB),India,Asia,9402.0,93.0,876.0,19.0
179,University of Twente,Netherlands,Europe,9332.0,2235.0,910.0,299.0
181,University of Göttingen,Germany,Europe,30402.0,3736.0,3678.0,641.0
182,Vrije Universiteit Brussel (VUB),Belgium,Europe,9284.0,1853.0,1792.0,515.0
182,Universidade Estadual de Campinas (Unicamp),Brazil,Latin America,26572.0,966.0,1968.0,109.0
182,University of Colorado Boulder,United States,North America,30219.0,2679.0,3685.0,566.0
182,Vienna University of Technology,Austria,Europe,17479.0,5199.0,706.0,172.0
186,University of Rochester,United States,North America,9636.0,2805.0,2569.0,488.0
187,Universidad Autónoma de Madrid,Spain,Europe,26511.0,2976.0,2738.0,181.0
188,Alma Mater Studiorum - University of Bologna,Italy,Europe,63399.0,4195.0,2990.0,153.0
188,University of Reading,United Kingdom,Europe,13330.0,4077.0,1280.0,422.0
190,Indian Institute of Science (IISc) Bangalore,India,Asia,4071.0,47.0,423.0,NaN
191,University of Cape Town,South Africa,Africa,19593.0,3325.0,1733.0,379.0
192,Scuola Normale Superiore di Pisa,Italy,Europe,532.0,48.0,86.0,1.0
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,Europe,789.0,135.0,119.0,1.0
192,Keio University CEMS MIM,Japan,Asia,33500.0,2178.0,3905.0,261.0
195,Stockholm University,Sweden,Europe,28281.0,2636.0,2154.0,646.0
195,Universitat Autònoma de Barcelona,Spain,Europe,31986.0,3848.0,2187.0,230.0
195,Texas A&M University,United States,North America,60294.0,4900.0,3446.0,206.0
199,Instituto Tecnológico y de Estudios Superiores...,Mexico,Latin America,13376.0,1412.0,1822.0,821.0
200,Maastricht University,Netherlands,Europe,16385.0,8234.0,1277.0,502.0
201,Universidad de Chile,Chile,Latin America,38848.0,2134.0,2256.0,127.0

# www.timeshighereducation.com

## Methodology

We also identify the URL of a JSON file that contains the ranking for this dataset and proceed a similar way as for the previous one. It appears that the JSON file contains everything we are interested in, but the number of international faculty and the region. However, since the detailed pages for each university does not contain this information either, there is no point in using BeautifulSoup to extract data from there.

In [113]:
RANKING_URL_TIMES = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

In [114]:
# Function to obtain and format the top n universities in the ranking
def get_list_times(n=200):
    # HTTP GET to fetch the data
    r = requests.get(RANKING_URL_TIMES)
    raw_ranking = r.json()['data']
    
    # Process and clean each entry in the ranking
    ranking = []
    for entry in raw_ranking[0:n]:
        rank = int(entry['rank'].replace('=', '')) # drop the = for tied ranks
        name = entry['name']
        country = entry['location']
        total_students = int(entry['stats_number_students'].replace(',', ''))
        total_int_students = int(float(entry['stats_pc_intl_students'].replace('%', '')) / 100.0 * total_students)
        total_faculty = int(total_students / float(entry['stats_student_staff_ratio']))
        ranking.append({'rank': rank, 'name': name, 'country': country, 'total_students': total_students, 'total_int_students': total_int_students, 'total_faculty': total_faculty})   
    
    # Create a dataframe and index it
    df = pd.DataFrame(ranking)
    df = df.set_index('rank')
    df = df.reindex_axis(['name', 'country', 'total_students', 'total_int_students', 'total_faculty'], axis=1)
    return df

# Let's see what this one looks like
times_df = get_list_times()
times_df

,name,country,total_students,total_int_students,total_faculty
rank,,,,,
1,University of Oxford,United Kingdom,20409,7755,1822
2,University of Cambridge,United Kingdom,18389,6436,1687
3,California Institute of Technology,United States,2209,596,339
3,Stanford University,United States,15845,3485,2112
5,Massachusetts Institute of Technology,United States,11177,3800,1284
6,Harvard University,United States,20326,5284,2283
7,Princeton University,United States,7955,1909,958
8,Imperial College London,United Kingdom,15857,8721,1390
9,University of Chicago,United States,13525,3381,2181
10,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,19233,7308,1317
10,University of Pennsylvania,United States,20361,4072,3132
12,Yale University,United States,12155,2552,2826
13,Johns Hopkins University,United States,15498,3719,3604
14,Columbia University,United States,26587,8507,4358
15,"University of California, Los Angeles",United States,39279,6677,4091
16,University College London,United Kingdom,30304,14848,2886
17,Duke University,United States,15256,3356,3390
18,"University of California, Berkeley",United States,36182,6150,2761
19,Cornell University,United States,21850,5244,2229
20,Northwestern University,United States,17466,3143,1364
21,University of Michigan,United States,41818,6690,4862
22,National University of Singapore,Singapore,30602,9180,1800
22,University of Toronto,Canada,69427,11802,3712
24,Carnegie Mellon University,United States,12676,5704,938
25,London School of Economics and Political Science,United Kingdom,10065,7146,825
25,University of Washington,United States,44945,7191,3942
27,University of Edinburgh,United Kingdom,26759,10703,2140
27,New York University,United States,43860,11403,4568
27,Peking University,China,42136,6741,4734
30,Tsinghua University,China,42089,3788,3072
...,...,...,...,...,...
171,University of Cape Town,South Africa,20775,3739,1775
172,"Rutgers, the State University of New Jersey",United States,43439,4343,3913
173,KTH Royal Institute of Technology,Sweden,12951,2201,809
173,University of Münster,Germany,42287,2960,992
175,Université Libre de Bruxelles,Belgium,25343,8870,583
175,Newcastle University,United Kingdom,20952,6285,1343
177,University of Liverpool,United Kingdom,19815,6935,1693
177,Zhejiang University,China,50051,3003,3549
179,University of Luxembourg,Luxembourg,4969,2832,340
179,University of Twente,Netherlands,6697,1808,523
181,Paris-Sud University,France,27221,4355,1877
182,École Normale Supérieure de Lyon,France,2221,288,261
182,Hong Kong Polytechnic University,Hong Kong,21773,5443,809
184,Scuola Normale Superiore di Pisa,Italy,515,36,99
185,University of Aberdeen,United Kingdom,12055,4339,867
186,University of Miami,United States,15860,2537,2688
187,University of Dundee,United Kingdom,10893,2614,731
188,University of East Anglia,United Kingdom,13521,4056,994
188,Shanghai Jiao Tong University,China,37288,2237,3007
190,Aalto University,Finland,12744,2548,630
191,University of Massachusetts,United States,59230,8292,4453
192,University of Auckland,New Zealand,30348,8800,1614
193,Northeastern University,United States,18780,6009,1341
194,Lomonosov Moscow State University,Russian Federation,29236,6431,4004
195,Tilburg University,Netherlands,7738,1005,343
196,Paris-Sorbonne University – Paris 4,France,22042,3306,729
197,"Royal Holloway, University of London",United Kingdom,8931,3572,579
198,"University of California, Riverside",United States,20740,2903,1001
198,University of Gothenburg,Sweden,18378,2389,1837
198,National Taiwan University,Taiwan,31758,2540,2761