## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

In [2]:
# Imports
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import requests
import unicodedata
import re
from bs4 import BeautifulSoup

# www.topuniversities.com

## Methodology

After examing the webpage, we identify the URL of a JSON file that contains the ranking. Working with JSON is much simpler than working with HTML, so we perform an HTTP GET on that URL, providing a suitable timestamp value (`?_=...`). We then parse the JSON and extract the information we are interested in.

As indicated in the problem statement, some stats are not available in the main list. We visit each university URL to extract the missing stats and scrap the HTML using BeautifulSoup.

Finally, we put all this data in a dataframe.

In [3]:
BASE_URL_TOP = 'https://www.topuniversities.com'
RANKING_URL_TOP = '/sites/default/files/qs-rankings-data/357051.txt?_=%d'

In [4]:
# Helper function to extract a metric using a CSS selector
def extract_metric(soup, selector):
    try:
        return int(soup.select(selector)[0].get_text().replace(',', ''))
    except:
        return None

# Function to obtain and format the top n universities in the ranking
def get_list_top(n=200):
    # Request the JSON data
    timestamp = int(time.time() * 1000)
    r = requests.get((BASE_URL_TOP + RANKING_URL_TOP) % timestamp)
    raw_ranking = r.json()['data'][0:n]
    
    # Process and clean each entry in the ranking, fetching the detailed page and extracting the necessary information
    ranking = []
    for entry in raw_ranking:
        rank = int(entry['rank_display'].replace('=', '')) # drop the = for tied ranks
        name = entry['title']
        country = entry['country']
        region = entry['region']
        r = requests.get(BASE_URL_TOP + entry['url'])
        soup = BeautifulSoup(r.text, 'lxml')
        total_students = extract_metric(soup, 'div.total.student .number')
        total_int_students = extract_metric(soup, 'div.total.inter .number')
        total_faculty = extract_metric(soup, 'div.total.faculty .number')
        total_int_faculty = extract_metric(soup, 'div.inter.faculty .number')
        ranking.append({'rank': rank, 'name': name, 'country': country, 'region': region, 'total_students': total_students, 'total_int_students': total_int_students, 'total_faculty': total_faculty, 'total_int_faculty': total_int_faculty})        
    
    # Create the dataframe and index it
    df = pd.DataFrame(ranking)
    df = df.set_index('rank')
    df = df.reindex_axis(['name', 'country', 'region', 'total_students', 'total_int_students', 'total_faculty', 'total_int_faculty'], axis=1)
    return df
    
# Let's see what it looks like...
top_df = get_list_top()
top_df

,name,country,region,total_students,total_int_students,total_faculty,total_int_faculty
rank,,,,,,,
1,Massachusetts Institute of Technology (MIT),United States,North America,11067.0,3717.0,2982.0,1679.0
2,Stanford University,United States,North America,15878.0,3611.0,4285.0,2042.0
3,Harvard University,United States,North America,22429.0,5266.0,4350.0,1311.0
4,California Institute of Technology (Caltech),United States,North America,2255.0,647.0,953.0,350.0
5,University of Cambridge,United Kingdom,Europe,18770.0,6699.0,5490.0,2278.0
6,University of Oxford,United Kingdom,Europe,19720.0,7353.0,6750.0,2964.0
7,UCL (University College London),United Kingdom,Europe,31080.0,14854.0,6345.0,2554.0
8,Imperial College London,United Kingdom,Europe,16090.0,8746.0,3930.0,2071.0
9,University of Chicago,United States,North America,13557.0,3379.0,2449.0,635.0
10,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,Europe,19815.0,7563.0,2477.0,1886.0
11,"Nanyang Technological University, Singapore (NTU)",Singapore,Asia,25738.0,7251.0,4338.0,2993.0
12,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,Europe,10343.0,5896.0,1695.0,1300.0
13,Princeton University,United States,North America,8069.0,1793.0,1007.0,246.0
14,Cornell University,United States,North America,21904.0,5411.0,2718.0,970.0
15,National University of Singapore (NUS),Singapore,Asia,32728.0,8917.0,5106.0,3086.0
16,Yale University,United States,North America,12402.0,2469.0,4940.0,1708.0
17,Johns Hopkins University,United States,North America,16146.0,4105.0,4462.0,1061.0
18,Columbia University,United States,North America,25045.0,8105.0,6189.0,913.0
19,University of Pennsylvania,United States,North America,20639.0,4250.0,5499.0,1383.0
20,The Australian National University,Australia,Oceania,14442.0,5551.0,1600.0,927.0
21,University of Michigan,United States,North America,43147.0,7527.0,6809.0,1920.0
21,Duke University,United States,North America,15320.0,2864.0,2938.0,226.0
23,The University of Edinburgh,United Kingdom,Europe,28040.0,10551.0,4075.0,1553.0
23,King's College London,United Kingdom,Europe,23780.0,9451.0,3650.0,1513.0
25,Tsinghua University,China,Asia,36300.0,4072.0,5506.0,932.0
26,The University of Hong Kong,Hong Kong,Asia,20214.0,8230.0,3012.0,2085.0
27,"University of California, Berkeley (UCB)",United States,North America,36703.0,6086.0,3321.0,1395.0
28,The University of Tokyo,Japan,Asia,27279.0,2639.0,4514.0,254.0
28,Northwestern University,United States,North America,18675.0,3422.0,4231.0,1141.0
30,The Hong Kong University of Science and Techno...,Hong Kong,Asia,10375.0,2921.0,1150.0,835.0
...,...,...,...,...,...,...,...
171,Albert-Ludwigs-Universitaet Freiburg,Germany,Europe,23214.0,3897.0,1966.0,413.0
172,Indian Institute of Technology Delhi (IITD),India,Asia,7477.0,80.0,466.0,4.0
173,King Fahd University of Petroleum & Minerals,Saudi Arabia,Asia,6040.0,989.0,1062.0,665.0
173,University of Liverpool,United Kingdom,Europe,22065.0,7502.0,2390.0,717.0
173,University of Virginia,United States,North America,21560.0,1899.0,2509.0,487.0
176,University of Technology Sydney,Australia,Oceania,24207.0,7769.0,1328.0,546.0
177,CentraleSupélec,France,Europe,3877.0,1132.0,529.0,137.0
178,University of Florida,United States,North America,45485.0,4597.0,5419.0,504.0
179,Indian Institute of Technology Bombay (IITB),India,Asia,9402.0,93.0,876.0,19.0
179,University of Twente,Netherlands,Europe,9332.0,2235.0,910.0,299.0
181,University of Göttingen,Germany,Europe,30402.0,3736.0,3678.0,641.0
182,Vrije Universiteit Brussel (VUB),Belgium,Europe,9284.0,1853.0,1792.0,515.0
182,Universidade Estadual de Campinas (Unicamp),Brazil,Latin America,26572.0,966.0,1968.0,109.0
182,University of Colorado Boulder,United States,North America,30219.0,2679.0,3685.0,566.0
182,Vienna University of Technology,Austria,Europe,17479.0,5199.0,706.0,172.0
186,University of Rochester,United States,North America,9636.0,2805.0,2569.0,488.0
187,Universidad Autónoma de Madrid,Spain,Europe,26511.0,2976.0,2738.0,181.0
188,Alma Mater Studiorum - University of Bologna,Italy,Europe,63399.0,4195.0,2990.0,153.0
188,University of Reading,United Kingdom,Europe,13330.0,4077.0,1280.0,422.0
190,Indian Institute of Science (IISc) Bangalore,India,Asia,4071.0,47.0,423.0,NaN
191,University of Cape Town,South Africa,Africa,19593.0,3325.0,1733.0,379.0
192,Scuola Normale Superiore di Pisa,Italy,Europe,532.0,48.0,86.0,1.0
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,Europe,789.0,135.0,119.0,1.0
192,Keio University CEMS MIM,Japan,Asia,33500.0,2178.0,3905.0,261.0
195,Stockholm University,Sweden,Europe,28281.0,2636.0,2154.0,646.0
195,Universitat Autònoma de Barcelona,Spain,Europe,31986.0,3848.0,2187.0,230.0
195,Texas A&M University,United States,North America,60294.0,4900.0,3446.0,206.0
199,Instituto Tecnológico y de Estudios Superiores...,Mexico,Latin America,13376.0,1412.0,1822.0,821.0
200,Maastricht University,Netherlands,Europe,16385.0,8234.0,1277.0,502.0
201,Universidad de Chile,Chile,Latin America,38848.0,2134.0,2256.0,127.0

Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?

In [5]:
df = top_df.copy()
df['faculty_to_students_ratio'] = df['total_faculty'] / df['total_students']
df.sort_values('faculty_to_students_ratio', ascending=False).head(10).loc[:, ['name', 'faculty_to_students_ratio']]

                                              name  faculty_to_students_ratio
rank
4     California Institute of Technology (Caltech)                   0.422616
16                                 Yale University                   0.398323
6                             University of Oxford                   0.342292
5                          University of Cambridge                   0.292488
17                        Johns Hopkins University                   0.276353
2                              Stanford University                   0.269870
1      Massachusetts Institute of Technology (MIT)                   0.269450
186                        University of Rochester                   0.266604
19                      University of Pennsylvania                   0.266437
18                             Columbia University                   0.247115

In [6]:
df = top_df.copy()
df['int_to_students_ratio'] = df['total_int_students'] / df['total_students']
df.sort_values('int_to_students_ratio', ascending=False).head(10).loc[:, ['name', 'int_to_students_ratio']]

                                                   name  int_to_students_ratio
rank
35    London School of Economics and Political Scien...               0.691393
12      Ecole Polytechnique Fédérale de Lausanne (EPFL)               0.570047
8                               Imperial College London               0.543567
200                               Maastricht University               0.502533
47                           Carnegie Mellon University               0.478062
7                       UCL (University College London)               0.477928
92                             University of St Andrews               0.457955
41                          The University of Melbourne               0.427434
127                     Queen Mary University of London               0.421816
26                          The University of Hong Kong               0.407144

Answer the previous question aggregating the data by (c) country and (d) region.

In [7]:
country_df = top_df.copy()
country_df = country_df.groupby('country').agg({'total_students': 'sum', 'total_int_students': 'sum', 'total_faculty': 'sum', 'total_int_faculty': 'sum'})

In [8]:
df = country_df.copy()
df['faculty_to_students_ratio'] = df['total_faculty'] / df['total_students']
df.sort_values('faculty_to_students_ratio', ascending=False).head(10).loc[:, ['faculty_to_students_ratio']]

                faculty_to_students_ratio
country
Russia                           0.221910
Denmark                          0.177261
Saudi Arabia                     0.175828
Singapore                        0.161530
Malaysia                         0.153893
Japan                            0.152479
South Korea                      0.141721
Switzerland                      0.140434
United Kingdom                   0.136962
Israel                           0.136047

In [9]:
df = country_df.copy()
df['int_to_students_ratio'] = df['total_int_students'] / df['total_students']
df.sort_values('int_to_students_ratio', ascending=False).head(10).loc[:, ['int_to_students_ratio']]

                int_to_students_ratio
country
Australia                    0.352189
United Kingdom               0.341705
Hong Kong                    0.310751
Austria                      0.309980
Switzerland                  0.302396
Singapore                    0.276537
Canada                       0.260161
New Zealand                  0.258215
Ireland                      0.235299
Netherlands                  0.232980

In [10]:
region_df = top_df.copy()
region_df = region_df.groupby('region').agg({'total_students': 'sum', 'total_int_students': 'sum', 'total_faculty': 'sum', 'total_int_faculty': 'sum'})

In [11]:
df = region_df.copy()
df['faculty_to_students_ratio'] = df['total_faculty'] / df['total_students']
df.sort_values('faculty_to_students_ratio', ascending=False).loc[:, ['faculty_to_students_ratio']]

               faculty_to_students_ratio
region
Asia                            0.132260
North America                   0.117776
Europe                          0.111564
Latin America                   0.104147
Africa                          0.088450
Oceania                         0.072385

In [12]:
df = region_df.copy()
df['int_to_students_ratio'] = df['total_int_students'] / df['total_students']
df.sort_values('int_to_students_ratio', ascending=False).loc[:, ['int_to_students_ratio']]

               int_to_students_ratio
region
Oceania                     0.339261
Europe                      0.229589
North America               0.188906
Africa                      0.169703
Asia                        0.136431
Latin America               0.084615

# www.timeshighereducation.com

## Methodology

We also identify the URL of a JSON file that contains the ranking for this dataset and proceed a similar way as for the previous one. It appears that the JSON file contains everything we are interested in, but the number of international faculty and the region. However, since the detailed pages for each university does not contain this information either, there is no point in using BeautifulSoup to extract data from there.

In [13]:
RANKING_URL_TIMES = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

In [14]:
# Function to obtain and format the top n universities in the ranking
def get_list_times(n=200):
    # HTTP GET to fetch the data
    r = requests.get(RANKING_URL_TIMES)
    raw_ranking = r.json()['data']
    
    # Process and clean each entry in the ranking
    ranking = []
    for entry in raw_ranking[0:n]:
        rank = int(entry['rank'].replace('=', '')) # drop the = for tied ranks
        name = entry['name']
        country = entry['location']
        total_students = int(entry['stats_number_students'].replace(',', ''))
        total_int_students = int(float(entry['stats_pc_intl_students'].replace('%', '')) / 100.0 * total_students)
        total_faculty = int(total_students / float(entry['stats_student_staff_ratio']))
        ranking.append({'rank': rank, 'name': name, 'country': country, 'total_students': total_students, 'total_int_students': total_int_students, 'total_faculty': total_faculty})   
    
    # Create a dataframe and index it
    df = pd.DataFrame(ranking)
    df = df.set_index('rank')
    df = df.reindex_axis(['name', 'country', 'total_students', 'total_int_students', 'total_faculty'], axis=1)
    return df

# Let's see what this one looks like
times_df = get_list_times()
times_df

,name,country,total_students,total_int_students,total_faculty
rank,,,,,
1,University of Oxford,United Kingdom,20409,7755,1822
2,University of Cambridge,United Kingdom,18389,6436,1687
3,California Institute of Technology,United States,2209,596,339
3,Stanford University,United States,15845,3485,2112
5,Massachusetts Institute of Technology,United States,11177,3800,1284
6,Harvard University,United States,20326,5284,2283
7,Princeton University,United States,7955,1909,958
8,Imperial College London,United Kingdom,15857,8721,1390
9,University of Chicago,United States,13525,3381,2181
10,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,19233,7308,1317
10,University of Pennsylvania,United States,20361,4072,3132
12,Yale University,United States,12155,2552,2826
13,Johns Hopkins University,United States,15498,3719,3604
14,Columbia University,United States,26587,8507,4358
15,"University of California, Los Angeles",United States,39279,6677,4091
16,University College London,United Kingdom,30304,14848,2886
17,Duke University,United States,15256,3356,3390
18,"University of California, Berkeley",United States,36182,6150,2761
19,Cornell University,United States,21850,5244,2229
20,Northwestern University,United States,17466,3143,1364
21,University of Michigan,United States,41818,6690,4862
22,National University of Singapore,Singapore,30602,9180,1800
22,University of Toronto,Canada,69427,11802,3712
24,Carnegie Mellon University,United States,12676,5704,938
25,London School of Economics and Political Science,United Kingdom,10065,7146,825
25,University of Washington,United States,44945,7191,3942
27,University of Edinburgh,United Kingdom,26759,10703,2140
27,New York University,United States,43860,11403,4568
27,Peking University,China,42136,6741,4734
30,Tsinghua University,China,42089,3788,3072
...,...,...,...,...,...
171,University of Cape Town,South Africa,20775,3739,1775
172,"Rutgers, the State University of New Jersey",United States,43439,4343,3913
173,KTH Royal Institute of Technology,Sweden,12951,2201,809
173,University of Münster,Germany,42287,2960,992
175,Université Libre de Bruxelles,Belgium,25343,8870,583
175,Newcastle University,United Kingdom,20952,6285,1343
177,University of Liverpool,United Kingdom,19815,6935,1693
177,Zhejiang University,China,50051,3003,3549
179,University of Luxembourg,Luxembourg,4969,2832,340
179,University of Twente,Netherlands,6697,1808,523
181,Paris-Sud University,France,27221,4355,1877
182,École Normale Supérieure de Lyon,France,2221,288,261
182,Hong Kong Polytechnic University,Hong Kong,21773,5443,809
184,Scuola Normale Superiore di Pisa,Italy,515,36,99
185,University of Aberdeen,United Kingdom,12055,4339,867
186,University of Miami,United States,15860,2537,2688
187,University of Dundee,United Kingdom,10893,2614,731
188,University of East Anglia,United Kingdom,13521,4056,994
188,Shanghai Jiao Tong University,China,37288,2237,3007
190,Aalto University,Finland,12744,2548,630
191,University of Massachusetts,United States,59230,8292,4453
192,University of Auckland,New Zealand,30348,8800,1614
193,Northeastern University,United States,18780,6009,1341
194,Lomonosov Moscow State University,Russian Federation,29236,6431,4004
195,Tilburg University,Netherlands,7738,1005,343
196,Paris-Sorbonne University – Paris 4,France,22042,3306,729
197,"Royal Holloway, University of London",United Kingdom,8931,3572,579
198,"University of California, Riverside",United States,20740,2903,1001
198,University of Gothenburg,Sweden,18378,2389,1837
198,National Taiwan University,Taiwan,31758,2540,2761

As we can see, that dataframe does not contain the region. However, we can infer the region using the data from the first dataframe.

Let's build a mapping from country to region using the first dataframe...

In [15]:
countries_regions_df = top_df.copy().reset_index().loc[:, ['country', 'region']].drop_duplicates()
# Let's add a couple missing ones
countries_regions_df = pd.concat([countries_regions_df, pd.DataFrame([['Russian Federation', 'Europe'], ['Luxembourg', 'Europe']], columns=['country', 'region'])])

... And join that mapping with the times dataframe to get the region column filled in.

In [16]:
times_df = times_df.reset_index().merge(countries_regions_df)
times_df['rank'].astype(int)
times_df = times_df.set_index('rank')
times_df.reindex_axis(['name', 'country', 'region', 'total_students', 'total_int_students', 'total_faculty'], axis=1)
times_df = times_df.sort_index()

# Let's see what it looks like...
times_df

,name,country,total_students,total_int_students,total_faculty,region
rank,,,,,,
1,University of Oxford,United Kingdom,20409,7755,1822,Europe
2,University of Cambridge,United Kingdom,18389,6436,1687,Europe
3,Stanford University,United States,15845,3485,2112,North America
3,California Institute of Technology,United States,2209,596,339,North America
5,Massachusetts Institute of Technology,United States,11177,3800,1284,North America
6,Harvard University,United States,20326,5284,2283,North America
7,Princeton University,United States,7955,1909,958,North America
8,Imperial College London,United Kingdom,15857,8721,1390,Europe
9,University of Chicago,United States,13525,3381,2181,North America
10,University of Pennsylvania,United States,20361,4072,3132,North America
10,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,19233,7308,1317,Europe
12,Yale University,United States,12155,2552,2826,North America
13,Johns Hopkins University,United States,15498,3719,3604,North America
14,Columbia University,United States,26587,8507,4358,North America
15,"University of California, Los Angeles",United States,39279,6677,4091,North America
16,University College London,United Kingdom,30304,14848,2886,Europe
17,Duke University,United States,15256,3356,3390,North America
18,"University of California, Berkeley",United States,36182,6150,2761,North America
19,Cornell University,United States,21850,5244,2229,North America
20,Northwestern University,United States,17466,3143,1364,North America
21,University of Michigan,United States,41818,6690,4862,North America
22,University of Toronto,Canada,69427,11802,3712,North America
22,National University of Singapore,Singapore,30602,9180,1800,Asia
24,Carnegie Mellon University,United States,12676,5704,938,North America
25,University of Washington,United States,44945,7191,3942,North America
25,London School of Economics and Political Science,United Kingdom,10065,7146,825,Europe
27,New York University,United States,43860,11403,4568,North America
27,University of Edinburgh,United Kingdom,26759,10703,2140,Europe
27,Peking University,China,42136,6741,4734,Asia
30,Tsinghua University,China,42089,3788,3072,Asia
...,...,...,...,...,...,...
171,University of Cape Town,South Africa,20775,3739,1775,Africa
172,"Rutgers, the State University of New Jersey",United States,43439,4343,3913,North America
173,KTH Royal Institute of Technology,Sweden,12951,2201,809,Europe
173,University of Münster,Germany,42287,2960,992,Europe
175,Université Libre de Bruxelles,Belgium,25343,8870,583,Europe
175,Newcastle University,United Kingdom,20952,6285,1343,Europe
177,Zhejiang University,China,50051,3003,3549,Asia
177,University of Liverpool,United Kingdom,19815,6935,1693,Europe
179,University of Twente,Netherlands,6697,1808,523,Europe
179,University of Luxembourg,Luxembourg,4969,2832,340,Europe
181,Paris-Sud University,France,27221,4355,1877,Europe
182,Hong Kong Polytechnic University,Hong Kong,21773,5443,809,Asia
182,École Normale Supérieure de Lyon,France,2221,288,261,Europe
184,Scuola Normale Superiore di Pisa,Italy,515,36,99,Europe
185,University of Aberdeen,United Kingdom,12055,4339,867,Europe
186,University of Miami,United States,15860,2537,2688,North America
187,University of Dundee,United Kingdom,10893,2614,731,Europe
188,University of East Anglia,United Kingdom,13521,4056,994,Europe
188,Shanghai Jiao Tong University,China,37288,2237,3007,Asia
190,Aalto University,Finland,12744,2548,630,Europe
191,University of Massachusetts,United States,59230,8292,4453,North America
192,University of Auckland,New Zealand,30348,8800,1614,Oceania
193,Northeastern University,United States,18780,6009,1341,North America
194,Lomonosov Moscow State University,Russian Federation,29236,6431,4004,Europe
195,Tilburg University,Netherlands,7738,1005,343,Europe
196,Paris-Sorbonne University – Paris 4,France,22042,3306,729,Europe
197,"Royal Holloway, University of London",United Kingdom,8931,3572,579,Europe
198,"University of California, Riverside",United States,20740,2903,1001,North America
198,University of Gothenburg,Sweden,18378,2389,1837,Europe
198,National Taiwan University,Taiwan,31758,2540,2761,Asia

Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?

In [17]:
df = times_df.copy()
df['faculty_to_students_ratio'] = df['total_faculty'] / df['total_students']
df.sort_values('faculty_to_students_ratio', ascending=False).head(10).loc[:, ['name', 'faculty_to_students_ratio']]

                                  name  faculty_to_students_ratio
rank
105              Vanderbilt University                   0.302972
109           University of Copenhagen                   0.243889
13            Johns Hopkins University                   0.232546
12                     Yale University                   0.232497
153            University of Rochester                   0.232462
98                    Emory University                   0.227212
17                     Duke University                   0.222208
115                École Polytechnique                   0.195784
184   Scuola Normale Superiore di Pisa                   0.192233
186                University of Miami                   0.169483

In [18]:
df = times_df.copy()
df['int_to_students_ratio'] = df['total_int_students'] / df['total_students']
df.sort_values('int_to_students_ratio', ascending=False).head(10).loc[:, ['name', 'int_to_students_ratio']]

                                                  name  int_to_students_ratio
rank
25    London School of Economics and Political Science               0.709985
179                           University of Luxembourg               0.569934
8                              Imperial College London               0.549978
38            École Polytechnique Fédérale de Lausanne               0.549960
103                              Maastricht University               0.499970
16                           University College London               0.489968
143                           University of St Andrews               0.479956
24                          Carnegie Mellon University               0.449984
121                    Queen Mary University of London               0.449984
40                             University of Hong Kong               0.419952

Answer the previous question aggregating the data by (c) country and (d) region.

In [19]:
country_df = times_df.copy()
country_df = country_df.groupby('country').agg({'total_students': 'sum', 'total_int_students': 'sum', 'total_faculty': 'sum'})

In [20]:
df = country_df.copy()
df['faculty_to_students_ratio'] = df['total_faculty'] / df['total_students']
df.sort_values('faculty_to_students_ratio', ascending=False).head(10).loc[:, ['faculty_to_students_ratio']]

                    faculty_to_students_ratio
country
Denmark                              0.165278
Russian Federation                   0.136954
Japan                                0.133331
Italy                                0.130290
Switzerland                          0.093165
United States                        0.089308
Taiwan                               0.086939
South Africa                         0.085439
China                                0.084234
France                               0.074815

In [21]:
df = times_df.copy()
df['int_to_students_ratio'] = df['total_int_students'] / df['total_students']
df.sort_values('int_to_students_ratio', ascending=False).head(10).loc[:, ['int_to_students_ratio']]

      int_to_students_ratio
rank
25                 0.709985
179                0.569934
8                  0.549978
38                 0.549960
103                0.499970
16                 0.489968
143                0.479956
24                 0.449984
121                0.449984
40                 0.419952

In [22]:
region_df = times_df.copy()
region_df = region_df.groupby('region').agg({'total_students': 'sum', 'total_int_students': 'sum', 'total_faculty': 'sum'})

In [23]:
df = region_df.copy()
df['faculty_to_students_ratio'] = df['total_faculty'] / df['total_students']
df.sort_values('faculty_to_students_ratio', ascending=False).loc[:, ['faculty_to_students_ratio']]

               faculty_to_students_ratio
region
Africa                          0.085439
North America                   0.084685
Asia                            0.080286
Europe                          0.059160
Oceania                         0.038635

In [24]:
df = region_df.copy()
df['int_to_students_ratio'] = df['total_int_students'] / df['total_students']
df.sort_values('int_to_students_ratio', ascending=False).loc[:, ['int_to_students_ratio']]

               int_to_students_ratio
region
Oceania                     0.309745
Europe                      0.224634
Africa                      0.179976
North America               0.171996
Asia                        0.148464

# Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

We observe that university names can differ quite significantly between each ranking, so we opt for the following merging strategy:

1. Merge the two dataframes by country and region, effectively computing a filtered cartesian product of the two rankings.
2. Use a string similarity metric to estimate the similarity between the names in each ranking. We remove common words such as _University_, _of_, etc. to avoid confusing the metric.
3. Sort entries by decreasing similarity and pick one entry for each university name.
4. Filter out matchings with low similarity. We opt for a similarity of >= 0.8 after careful examination of the results.

In [25]:
from difflib import SequenceMatcher

def clean_name(name):
    tmp = name
    for token in ['University', 'of', 'Institute', 'The', 'Technology']:
        tmp = tmp.replace(token, '')
    return tmp.strip()

def similar(n1, n2):
    return SequenceMatcher(None, clean_name(n1), clean_name(n2)).ratio()

In [26]:
SIMILARITY_CUT = 0.8

In [32]:
df1 = top_df.copy()
df1 = df1.reset_index()
df2 = times_df.copy()
df2.loc[df2.country == 'Russian Federation', 'country'] = 'Russia' # Adjust Russia's name
df2 = df2.reset_index()

# Merge both dataframes on country and region
df = df1.merge(df2, on=['country', 'region'], suffixes=['_top', '_times'])

# Compute similarity
df['similarity'] = df[['name_top','name_times']].apply(lambda x: similar(*x), axis=1)

# Select each unique entry with the highest similarity, then filter out entries with too low similarity
merged_df = df.sort_values('similarity', ascending=False).groupby('name_times', as_index=False).first()
merged_df = merged_df.loc[merged_df.similarity >= SIMILARITY_CUT]

# Clean it up a little...
merged_df = merged_df[['name_times', 'country', 'region', 'rank_top', 'rank_times', 'total_students_top', 'total_int_students_top', 'total_faculty_top', 'total_int_faculty', 'total_students_times', 'total_int_students_times', 'total_faculty_times']].rename(columns = {'name_times':'name'})
merged_df = merged_df.set_index('name')
merged_df = merged_df.sort_index()

# Let's see what that looks like
merged_df

,country,region,rank_top,rank_times,total_students_top,total_int_students_top,total_faculty_top,total_int_faculty,total_students_times,total_int_students_times,total_faculty_times
name,,,,,,,,,,,
Aalto University,Finland,Europe,137,190,12147.0,1831.0,1257.0,370.0,12744,2548,630
Aarhus University,Denmark,Europe,119,109,26226.0,3762.0,2316.0,602.0,25167,3020,1759
Australian National University,Australia,Oceania,20,48,14442.0,5551.0,1600.0,927.0,15986,5595,828
Boston University,United States,North America,81,70,25662.0,7041.0,3157.0,379.0,24833,6208,2887
Brown University,United States,North America,53,50,9251.0,1825.0,1303.0,379.0,8898,1779,831
Cardiff University,United Kingdom,Europe,137,162,24565.0,6090.0,2755.0,705.0,24186,6288,1791
Carnegie Mellon University,United States,North America,47,24,13356.0,6385.0,1342.0,425.0,12676,5704,938
Chinese University of Hong Kong,Hong Kong,Asia,46,58,18037.0,4824.0,2208.0,1074.0,18072,5602,1044
City University of Hong Kong,Hong Kong,Asia,49,119,9240.0,3273.0,1349.0,1027.0,9240,3234,825
Columbia University,United States,North America,18,14,25045.0,8105.0,6189.0,913.0,26587,8507,4358
Cornell University,United States,North America,14,19,21904.0,5411.0,2718.0,970.0,21850,5244,2229
Dartmouth College,United States,North America,169,89,6224.0,945.0,939.0,27.0,6100,915,924
Delft University of Technology,Netherlands,Europe,54,63,16527.0,4634.0,1669.0,701.0,17057,4605,870
Duke University,United States,North America,21,17,15320.0,2864.0,2938.0,226.0,15256,3356,3390
Durham University,United Kingdom,Europe,78,97,16745.0,4690.0,1539.0,586.0,16310,4729,1094
ETH Zurich – Swiss Federal Institute of Technology Zurich,Switzerland,Europe,10,10,19815.0,7563.0,2477.0,1886.0,19233,7308,1317
Eindhoven University of Technology,Netherlands,Europe,104,141,7636.0,1275.0,801.0,322.0,7637,1298,410
Emory University,United States,North America,147,98,12852.0,2154.0,2560.0,484.0,12649,2403,2874
Erasmus University Rotterdam,Netherlands,Europe,147,72,23273.0,5229.0,2011.0,458.0,22047,4409,1096
Fudan University,China,Asia,40,116,29135.0,4680.0,4037.0,1178.0,32859,3285,2715
Georgia Institute of Technology,United States,North America,70,33,21082.0,4761.0,1133.0,75.0,20773,5608,1003
Ghent University,Belgium,Europe,125,107,35968.0,3766.0,2520.0,482.0,35909,3590,1000
Harvard University,United States,North America,3,6,22429.0,5266.0,4350.0,1311.0,20326,5284,2283
Hong Kong Polytechnic University,Hong Kong,Asia,95,182,20972.0,5251.0,2447.0,1275.0,21773,5443,809
Hong Kong University of Science and Technology,Hong Kong,Asia,30,44,10375.0,2921.0,1150.0,835.0,10214,3166,442
Imperial College London,United Kingdom,Europe,8,8,16090.0,8746.0,3930.0,2071.0,15857,8721,1390
Johns Hopkins University,United States,North America,17,13,16146.0,4105.0,4462.0,1061.0,15498,3719,3604
KTH Royal Institute of Technology,Sweden,Europe,98,173,12658.0,1937.0,1500.0,494.0,12951,2201,809
KU Leuven,Belgium,Europe,71,47,45538.0,6926.0,2515.0,784.0,44412,6661,1197
King’s College London,United Kingdom,Europe,23,36,23780.0,9451.0,3650.0,1513.0,23207,9514,1933
...,...,...,...,...,...,...,...,...,...,...,...
University of Pittsburgh,United States,North America,142,100,26393.0,2937.0,4982.0,572.0,26367,2636,4468
University of Queensland,Australia,Oceania,47,65,37497.0,10420.0,3158.0,1870.0,38968,10131,1091
University of Rochester,United States,North America,186,153,9636.0,2805.0,2569.0,488.0,9636,2794,2240
University of Science and Technology of China,China,Asia,97,132,16032.0,548.0,1992.0,155.0,16032,480,1955
University of Sheffield,United Kingdom,Europe,82,104,25430.0,8745.0,3065.0,938.0,24581,8849,1649
University of Southampton,United Kingdom,Europe,102,126,23775.0,7789.0,2820.0,1017.0,21670,7151,1733
University of Southern California,United States,North America,132,66,38749.0,9170.0,3124.0,551.0,38380,8827,2998
University of St Andrews,United Kingdom,Europe,92,143,8800.0,4030.0,1140.0,485.0,9005,4322,692
University of Sydney,Australia,Oceania,176,61,24207.0,7769.0,1328.0,546.0,44553,14256,2062
University of Texas at Austin,United States,North America,67,49,47995.0,4744.0,2833.0,108.0,48561,4856,2839
University of Tokyo,Japan,Asia,56,46,9832.0,1071.0,1563.0,191.0,26000,2600,3880
University of Toronto,Canada,North America,31,22,72207.0,21910.0,9581.0,3905.0,69427,11802,3712
University of Twente,Netherlands,Europe,179,179,9332.0,2235.0,910.0,299.0,6697,1808,523
University of Vienna,Austria,Europe,154,165,45967.0,14468.0,3411.0,1400.0,35375,9197,1700
University of Virginia,United States,North America,173,113,21560.0,1899.0,2509.0,487.0,24055,2886,2479
University of Warwick,United Kingdom,Europe,57,91,19855.0,7703.0,2093.0,890.0,18424,7185,1417
University of Washington,United States,North America,61,25,56973.0,8373.0,2484.0,550.0,44945,7191,3942
University of Western Australia,Australia,Oceania,93,111,18531.0,4575.0,1420.0,809.0,18787,4696,861
University of Wisconsin-Madison,United States,North America,55,43,38985.0,4920.0,5722.0,1151.0,38960,4675,3641
University of York,United Kingdom,Europe,135,137,15999.0,3364.0,1833.0,636.0,14962,4039,990
University of Zurich,Switzerland,Europe,73,136,26065.0,5036.0,4997.0,2617.0,26363,5272,4468
Université Catholique de Louvain,Belgium,Europe,153,129,24277.0,4468.0,1219.0,406.0,24451,4645,646
Uppsala University,Sweden,Europe,112,86,25371.0,5198.0,2567.0,584.0,25174,2769,1455
Utrecht University,Netherlands,Europe,109,68,31754.0,2771.0,3067.0,653.0,31522,2206,2073
Washington University in St Louis,United States,North America,100,50,13474.0,2706.0,2699.0,784.0,12600,2142,1680
Yale University,United States,North America,16,12,12402.0,2469.0,4940.0,1708.0,12155,2552,2826
Zhejiang University,China,Asia,87,177,40869.0,4625.0,4507.0,1913.0,50051,3003,3549
École Normale Supérieure de Lyon,France,Europe,157,182,2020.0,221.0,382.0,91.0,2221,288,261
École Polytechnique,France,Europe,59,115,3126.0,924.0,649.0,259.0,2799,1007,548
École Polytechnique Fédérale de Lausanne,Switzerland,Europe,12,38,10343.0,5896.0,1695.0,1300.0,9928,5460,886

It appears our merging strategy managed to match 142 university names. Not bad...

# Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

# Can you find the best university taking in consideration both rankings? Explain your approach.